Source: mcp
Section: multiverse/python
Priority: optional
Maintainer: Peter Howe <pnhowe@gmail.com>
Build-Depends: debhelper (>= 9), python3 (>= 3.6), python3-dev (>=3.4), python3-setuptools (>= 20.0), lsb-release
Standards-Version: 3.8.3
X-Python-Version: >= 3.6

Package: mcp
Architecture: all
Depends: python3 (>= 3.6), python3-django, apache2, libapache2-mod-wsgi-py3, postgresql-client, python3-werkzeug, python3-psycopg2, python3-cinp (>= 0.17), graphviz, git, make, cron, ${misc:Depends}, ${python3:Depends}
Recomends: python3-github, python3-gitlab
Description: MCP
  MCP - Master Control Program
